.icons {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  /*height: 2.5em;*/
  /*margin-left: 0.5em;*/

  /*@media (--mobile) {
    float: none;
  }*/
}

.icon {
  font-size: 1.2rem;
  color: var(--colorPrimaryDark);
  margin: 0.3em;


  transition: transform 0.15s ease-out;
  text-decoration: none !important;
  border-bottom: none !important;

  & > :global(.SVGInline) {
    display: inline-flex;
    align-items: center;
    height: 1.6em;
  }

  & svg {
    width: 1.2em;
  }

  &:hover {
    transform: scale(1.2);

    @media (--mobile) {
      transform: none;
    }
  }


}
