table.md-table
{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-collapse: collapse;
    overflow-x: scroll;
}

table.md-table > thead > tr > th
{
    padding: 8px;
    line-height: 1.4285714;
    border-top: 1px solid #ddd;
}

table.md-table > thead > tr > td,
table.md-table > tbody > tr > th,
table.md-table > tbody > tr > td,
table.md-table > tfoot > tr > th,
table.md-table > tfoot > tr > td
{
    padding: 8px;
    line-height: 1.4285714;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

table.md-table > thead > tr > th
{
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

table.md-table > caption + thead > tr:first-child > th,
table.md-table > caption + thead > tr:first-child > td,
table.md-table > colgroup + thead > tr:first-child > th,
table.md-table > colgroup + thead > tr:first-child > td,
table.md-table > thead:first-child > tr:first-child > th,
table.md-table > thead:first-child > tr:first-child > td
{
    border-top: 0;
}

table.md-table > tbody + tbody
{
    border-top: 2px solid #ddd;
}


/* Condensed */
table.md-table > thead > tr > th,
table.md-table > thead > tr > td,
table.md-table > tbody > tr > th,
table.md-table > tbody > tr > td,
table.md-table > tfoot > tr > th,
table.md-table > tfoot > tr > td
{
    padding: 5px;
}

/* Bordered */
table.md-table,
table.md-table > thead > tr > th,
table.md-table > thead > tr > td,
table.md-table > tbody > tr > th,
table.md-table > tbody > tr > td,
table.md-table > tfoot > tr > th,
table.md-table > tfoot > tr > td
{
    border: 1px solid #ddd;
}

table.md-table > thead > tr > th,
table.md-table > thead > tr > td
{
    border-bottom-width: 2px;
}


/* Striped */
table.md-table > tbody > tr:nth-child(odd) > td,
table.md-table > tbody > tr:nth-child(odd) > th
{
    background-color: #f9f9f9;
}


/* Hover */
table.md-table > tbody > tr:hover > td,
table.md-table > tbody > tr:hover > th
{
    background-color: #f5f5f5;
}
