.page {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 80%;
  padding: 1rem 0.75rem;

  @media (--mobile) {
    max-width: 95%;
  }
}

.hero {
  /* fallback, mainly visible when hero image is loading */
  background-color: var(--colorSecondary);
  /* fallback when there is no hero image */
  background:
    radial-gradient(
      ellipse at 50% 50%,
      color(var(--colorSecondary) l(+ 10%)) 15%,
      var(--colorSecondary) 70%
    );

  height: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  padding: 10vh 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  justify-content: center;
}

.heading {
  color: var(--colorNeutralLight);
  letter-spacing: 1px;
  border-bottom: none;
  font-size: 2.55rem;
  margin: 0;

  @media (--mobile) {
    line-height: 1.4em;
    margin-top: 0;
    font-size: 1.65rem;
  }
}

.description {
  color: var(--colorNeutralLight);
  letter-spacing: 1px;
  border-bottom: none;
  font-size: 1.65em;
  padding: 0;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 1em 0;

  @media (--mobile) {
    font-size: 1.175rem;
    margin: 1em auto;
  }
}

.cta {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  letter-spacing: 0.02rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all .25s;
  transition-timing-function: ease-out;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff !important;

  font-size: 1.1em;
  padding: 10px 20px;

  &:hover {
    background-color: #fff;
    color: #5C6BC0;
  }

  @media (--mobile) {
    margin-top: 5px;
  }
}

.pageContent {
  margin: 1rem 0;
}

.body {
  & a {
    color: var(--colorPrimary);
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
      color: color(var(--colorPrimary) l(- 5%));
      border-bottom-color: var(--colorPrimary);
    }
  }

  /* handy for content */
  & img {
    max-width: 100%;
  }

  & pre {
    overflow-x: scroll;
    padding: 10px;
    border: 2px solid #ddd;
    /*background-color: #eee;*/
  }

  & table {
    overflow-x: scroll;
  }

  /* code */
  & *:not(pre) > code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    color: #dd1144;
    padding: 2px 4px;
    overflow-wrap: break-word;
  }
}

.readMore {
  margin-left: 10px;
}

.cizmLink {
  padding: 1em 0;
  font-size: 0.95em;
  opacity: 0.9;
  color: #aaa;
  font-style: italic;
}

.collaborizm {
  font-weight: 900;
}

.cizmThread {
  margin-top: 2em;
}

.cizmSeparator {
  height: 2px;
  background-color: #555;
  margin: 10px 0;
}

.meta {
  display: block;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 1px solid #ccc !important;
  padding-bottom: 0.5em;

  @media (--mobile) {
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
  }
}

.toolbar {
  margin: 1em 0 0.3em 0;
}

.skills {
  font-size: 0.8em !important;
  font-weight: 600;
  margin: .5em 0 0.25em 0;
  line-height: 3em;
}

.duration {
  font-weight: 700;
  opacity: 0.8;
  font-size: 1.2em;
}
